<ion-view view-title="My-Stocks" id="My-stocks">

  <ion-nav-buttons side='right'>
    <button class="button button-clear" ng-click='modalService.openModal(1)'>
      <i class="icon icon-small ion-ios-search"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
   <ion-refresher pulling-text="Pull to refresh..." on-refresh="getMyStocksData()" class="margin-auto">
     
   </ion-refresher>
   <div class="row cow-center">
     <div class="col text-overflow-ellipsis stock-ticker-name">
      <h5>Symbol /</h5>
      <h5>Company Name</h5>
     </div>
     <div class="col col-25 stock-price-time">
      <h5>Last Trade Price Only /</h3>
      <h5>Volume</h6>
     </div>
     <div class="col col-33 stock-change">
       <h5>Days Range /</h2>
       <h5>Change</h6>
     </div>
   </div>
    <ion-list>
      <ion-item ng-repeat="stock in myStocksData" ng-href="#/app/{{stock.symbol}}">
    <div class="row row-center">
    	<div class="col text-overflow-ellipsis stock-ticker-name">
    		<h3>{{stock.symbol}}</h3>
        <h6 ng-bind-html="::stock.Name"></h6>
    	</div>
      <div class="col col-25 stock-price-time">
        <h3>{{stock.LastTradePriceOnly | shrinkNumber:2}}</h3>
        <h6>{{stock.Volume}}</h6>
      </div>
      <div class="col col-33 stock-change" ng-class="stock.Change > 0 ? 'background-green': 'background-red'">
        <h2 class="stock-color">{{stock.DaysRange}}</h3>
        <h4 class="stock-color"><span ng-if="stock.change > 0">+</span>{{stock.Change | shrinkNumber:2}}</h6>
      </div>
    </div>

    <ion-option-button class="button-light icon ion-minus-circled color-red inset-shadow" ng-click="unfollowStock(stock.symbol)"></ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
