<ion-view view-title="{{ticker}}">

 <div class="bar bar-subheader bar-stable">

 	<div class="buttons" side='left'>
 		<div class="button button-clear">
 			<h6>{{stockPriceData.Name}}</h6>
 		</div>
 	</div>
 	<h2 class="title button-left button-right">{{stockPriceData.LastTradePriceOnly}}</h2>
  	<div class="buttons" side='right'>
 		<div class="button button-clear">
 			<h6>{{stockPriceData.Change}}%</h6>
 		</div>
 	</div>


 </div>

  <ion-content class='has-subheader'>

    <nvd3 options="options" data="data"></nvd3>

    <div class="card">
    	<div class="item item-divider">Market Data</div>
    	<div class="row row-center">
    		<div class="col">AverageDailyVolume:</div>
    		<div class="col">{{stockPriceData.AverageDailyVolume}}</div>
    	</div>
    	<div class="row row-center">
    		<div class="col">DaysHigh:</div>
    		<div class="col">{{stockPriceData.DaysHigh}}</div>
    	</div>
    	<div class="row row-center">
    		<div class="col">DaysLow:</div>
    		<div class="col">{{stockPriceData.DaysLow}}</div>
    	</div>
    	<div class="row row-center">
    		<div class="col">YearHigh:</div>
    		<div class="col">{{stockPriceData.YearHigh}}</div>
    	</div>
    	<div class="row row-center">
    		<div class="col">YearLow:</div>
    		<div class="col">{{stockPriceData.YearLow}}</div>
    	</div>
    	<div class="row row-center">
    		<div class="col">Volume:</div>
    		<div class="col">{{stockPriceData.Volume}}</div>
    	</div>
    	<div class="row row-center">
    		<div class="col">MarketCapitalization:</div>
    		<div class="col">{{stockPriceData.MarketCapitalization}}</div>
    	</div>
    </div>

    <div class="card">
    	<div class="item item-divider">Notes</div>
          <a class="item">
          	<h2>Note title</h2>
          </a>
    </div>
    <div class="card">
    	<div class="item item-divider">News</div>
          <a class="item item-icon-right">
          	<h2>New Story Title</h2>
          	<i class="icon ion-ios-arrow-right"></i>
          </a>
    </div>
  
  </ion-content>
</ion-view>

