<ion-view view-title="{{ticker}}">

<ion-nav-bar id="stock-nav-bar" class="bar-dark ng-style:reactiveColor">
	<ion-nav-back-button> 
	</ion-nav-back-button>>
</ion-nav-bar>

<ion-nav-buttons side="right">
  <button class="button icon-left ng-style:reactiveColor" ng-class="following ? 'ion-ios-checkmark-empty' : 'ion-ios-plus'" ng-bind="following ? 'Following' : 'Follow'" ng-click="toggleFollow()"></button>
</ion-nav-buttons>>

 <div class="bar bar-subheader bar-stable">

 	<div class="buttons" side='left'>
 		<div class="button button-clear">
 			<h6 id="stock-name">{{stockPriceData.Name}}</h6>
 		</div>
 	</div>
 	<h2 id="stock-price" class="title button-left button-right">{{stockPriceData.LastTradePriceOnly | shrinkNumber:2	}}</h2>
  	<div class="buttons" side='right'>
 		<div class="button button-clear">
 			<h6 id='stock-change' ng-class="stockPriceData.Change < 0 ? 'assertive' : 'balanced' "><span ng-if="stockPriceData.Change >0">+</span>{{stockPriceData.Change | shrinkNumber:2}}<BR>(<span ng-if="stockPriceData.Change >0">+</span>{{stockPriceData.Change | number:3}}%)</h6>
 		</div>
 	</div>


 </div>

  <ion-content class='has-subheader'>

    <nvd3 options="options" data="data" id='interactiveChart'></nvd3>

    <div class="card" id="market-data-card">
    	<div class="item item-divider">Market Data</div>
    	<div class="row row-center">
    		<div class="col">AverageDailyVolume:</div>
    		<div class="col col-20">{{stockPriceData.AverageDailyVolume |shrinkNumber:2}}</div>
    	</div>
    	<div class="row row-center">
    		<div class="col">DaysHigh:</div>
    		<div class="col col-20">{{stockPriceData.DaysHigh|shrinkNumber:2}}</div>
    	</div>
    	<div class="row row-center">
    		<div class="col">DaysLow:</div>
    		<div class="col col-20">{{stockPriceData.DaysLow|shrinkNumber:2}}</div>
    	</div>
    	<div class="row row-center">
    		<div class="col">YearHigh:</div>
    		<div class="col col-20">{{stockPriceData.YearHigh|shrinkNumber:2}}</div>
    	</div>
    	<div class="row row-center">
    		<div class="col">YearLow:</div>
    		<div class="col col-20">{{stockPriceData.YearLow|shrinkNumber:2}}</div>
    	</div>
    	<div class="row row-center">
    		<div class="col">Volume:</div>
    		<div class="col col-20">{{stockPriceData.Volume|shrinkNumber:2}}</div>
    	</div>
    	<div class="row row-center">
    		<div class="col">MarketCapitalization:</div>
    		<div class="col col-20">{{stockPriceData.MarketCapitalization|shrinkNumber:2}}</div>
    	</div>
    </div>

    <div class="card" id="stock-notes">
    	<div class="item item-divider">Notes <span class="add-stock-note" ng-click="addNote()">Add <i class="icon ion-ios-plus"></i> </span></div>
          <a class="item" ng-repeat="note in stockNotes track by $index" ng-click="openNote($index,note.title,note.body)">
          	<h2>{{note.title}}</h2>
          	<h2>{{note.date | date:"M/d/yy"}}</h2>
          </a>
    </div>
    <div class="card" id="stock-news">
    	<div class="item item-divider">News</div>
          <a class="item item-icon-right" ng-repeat="story in newStories" ng-click="openWindow(story.link)">
          	<h2>{{story.title}}</h2>
            <h6>{{story.pubDate | characters:17:false:false}}</h6>
            <p ng-if="story.description.length>0">{{story.description |characters:200:false:true}}</p>
          	<i class="icon ion-ios-arrow-right"></i>
          </a>
    </div>
  
  </ion-content>
</ion-view>

