/* Empty. Add your own CSS if you like */

/*News card*/

#stock-news .icon {
  color: #ccc;
  font-size: 11pt;
  right: 0;

}

#stock-news h2{
  font-weight: 400;
  white-space: normal;
}

#stock-news p{
	color: #222;
	font-size: 9pt;
	margin: 10px auto 0;
	white-space: normal;
}

#stock-news .item-icon-right{
	padding-right: 30px;
	
}



/* chart */
#interactiveChart {
	height: 80vmin;
}


.nv-groups{
	text-anchor: middle;
}

.tick.zero{
	font: 400 2vmin "Helvetica Neue",sans-serif !important;
}

.nv-axislabel {
	font-size: 5vmin;
	font-family: 'Baloo', cursive;
}

/* stock data */

#stock-name{
	color: #333;
	float: left;
	font-size:3.5vmin;
	font-weight: normal;
	margin: auto 0 ;
	max-width: 33vw;
	overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
}

#stock-price{
	font-size: 7vmin;
	line-height: 32pt;
}

#stock-change{
	font-size: 4vmin;
	font-weight: bolder;
	float: right;
    line-height: 12pt;
    margin:auto 0;
}

#stock-nav-bar ion-header-bar{
	border: none;
}
span.back-text{
	font-size: 18pt;
}


/* Market-data-card */
#market-data-card{
    font-size: 3.25vmin;
}
#market-data-card.col-20{
    font-weight: border;
}
#market-data-card.col-20:last-of-type{
    text-align: right;
}

/* card */
#stock-notes .add-stock-note{
	border: 1px solid #ff9000;
	border-radius: 3px;
	color: #ff9800;
	float:right;
	font-size: 11pt;
	font-weight: 500;
	padding: 0 5px;
}

#stock-note-title{
	border-bottom: 1px solid #eee;
	padding: 5px;

}
#stock-note-body{
	min-height: 100px;
	padding: 10px 5px 5px;
	
}